<footer class="m-tabbar tabbar-fixed" style=" background: #339ddc;">
    <a href="{:url('index/index')}" class="tabbar-item ">
            <span class="tabbar-icon">
               <i class="iconfont ">&#xe62a;</i>
            </span>
        <span class="tabbar-txt">首页</span>
    </a>

    <a href="{:url('user/index')}" class="tabbar-item">
            <span class="tabbar-icon">
             <i
                     class="iconfont ">&#xe629;</i>
            </span>
        <span class="tabbar-txt">个人中心</span>
    </a>
</footer>