<header class="m-navbar">

    <!--<div class="navbar-center"><span class="navbar-title">NavBar</span></div>-->
    <div class="serach-bar">
        <div class="top-search" style="margin-top: -10px">
            <form action="#" method="get">
                <input name="city" value="101300300" type="hidden">
                <input name="source" value="10" type="hidden">
                <p class="ipt-wrap">
                    <!--<a href="/index/index/index.html" class="icon-home" style="left: 70px"><i-->
                    <!--class="iconfont">&#xe61a;</i></a>-->
                    <a class="city-text" id="J_Address2">银海区</a>
                    <input style="opacity: 0.8" type="search" ka="search-keyword" name="query" autocomplete="off"
                           class="ipt-search" value="" placeholder="目的地/关键词">
                    <!--<button type="submit" class="btn btn-search" ka="search-btn">搜索</button>-->
                    <i class="icon-close" style="display: none;"></i>
                    <a href="/index/index/index.html"><i
                            class="iconfont me">&#xe76e;</i></a>
                    <a href="/index/index/index.html"><i
                            class="iconfont me">&#xe86f;</i></a>
                </p>
            </form>
        </div>
    </div>
</header>